.sophong{
    width: 10%;
    background-color: white;
    border: 1px solid #000;
    border-radius: 20px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    cursor: pointer;
}
.sophong span{
    border: 0px;
    font-size: 20px;
    margin-top: -2px;
}
.sophong p{
    cursor: pointer;
}
.sophong select{
    border: 0px;
    font-size: 20px;
}
.name{
    margin: 0 20px 0 0;
    width: max-content;
}
.header{
    height: 100px;
    align-items: center;
}
.logo img{
    height: 100px;
    width: 100px;
}
.logo h2{
    font-size: 60px;
}
.logo-click{
    color: #000;
    text-decoration: none;
}
.nav{
    font-size: 20px;
    border: 0px;
    padding: 2px 10px;
}
.nav option{
}