.logs{
    width: max-content;
    text-align: center;
}

.logs h2{
    margin: 0 0 15px 0;
    padding: 0;

}

.logs th{
    padding: 0 10px;
}

.logs table{
    border-radius: 20px;
}

.btn-overlay{
    position:absolute;
    top:-20px;
    right:-30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.btn-overlay img{
    width: 70px;
}

.btn-overlay img:hover{
    cursor: pointer;
    opacity: 0.85;
}



table{
    border-radius: 0px !important;
}

.logs-table{
    max-height:300px;
    overflow-y:auto;
}
